@using ManjaApp.Data.Entities;
@using Microsoft.AspNetCore.Identity;
@model Services.DTOs.ManjaAddCommentDTO
@inject UserManager<AppUser> UserManager

@{
	ViewData["Title"] = "Details";
}

<!DOCTYPE html>
<html>
<head>
	<title>Details</title>
	<style>
		.container {
			max-width: 600px;
			margin: 0 auto;
			padding: 20px;
			border: 1px solid #ccc;
			border-radius: 5px;
		}

		.thumbnail {
			max-width: 100%;
			height: auto;
		}

		.row {
			margin-bottom: 10px; /* Add spacing between rows */
		}

		dt {
			font-weight: bold;
		}

		.comment {
			border: 1px solid #ccc;
			padding: 10px;
			margin-bottom: 20px;
		}

		.user {
			font-weight: bold;
			margin-bottom: 5px;
		}

		.rating {
			margin-bottom: 5px;
		}

		.content {
			font-size: 16px;
		}
	</style>
</head>
<body>
	<div class="container">
		<h1>Details</h1>
		<hr />
		<div>
			<h4>Manja</h4>
			<dl>
				<div class="row">
					<dt>Title:</dt>
					<dd>@Model.Title</dd>
				</div>
				<div class="row">
					<dt>Duration:</dt>
					<dd>@Model.Duration</dd>
				</div>
				<div class="row">
					<dt>Instructions:</dt>
					<dd>@Model.Instructions</dd>
				</div>
			</dl>
			<div>
				<img class="thumbnail" src="~/uploads/@Model.Picture" alt="@Model.Title">
			</div>
		</div>
	</div>
</body>
</html>

<div>
	@{
		var current = (await UserManager.GetUserAsync(User)).Id;
		if (current != null)
		{
			if (Model.UserId == current || User.IsInRole("Admin"))
			{

				<a asp-action="Edit" asp-route-id="@Model?.Id" class="button8">Edit</a>
				<a asp-action="Delete" asp-route-id="@Model?.Id" class="button8">Delete</a>
			}
		}
	}
	<div class="mt-3">
		<button onclick="window.location.href='@Url.Action("Details", "Categories", new { id = Model.Category.Id })'" class="btn btn-primary">Back to Category</button>
	</div>
</div>
<div>
	<h1>Comments</h1>
	@foreach (var item in Model.Comments)
	{
		<div class="comment">
			<div class="user">
				@item.User.UserName
			</div>
			<div class="rating">
				Rating: @item.Rating
			</div>
			<div class="content">
				@item.Content
			</div>
		</div>
	}
</div>
<div>
	<form asp-action="Create" asp-controller="Comments">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="form-group">
			<label asp-for="Comment.Content" class="control-label"></label>
			<input asp-for="Comment.Content" class="form-control" />
			<span asp-validation-for="Comment.Content" class="text-danger"></span>
		</div>
		<input type="hidden" asp-for="Comment.UserId">
		<input type="hidden" asp-for="Comment.ManjaId" value="@Model.Id" />
		<div class="form-group">
			<label asp-for="Comment.Rating" class="control-label"></label>
			<input asp-for="Comment.Rating" class="form-control" min="1" max="10" />
			<span asp-validation-for="Comment.Rating" class="text-danger"></span>
		</div>

		<div class="form-group">
			<input type="submit" value="Create" class="btn btn-primary" />
		</div>
	</form>
</div>

