@model IEnumerable<Services.DTOs.ManjaDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="d-flex flex-wrap justify-content-between">
    @foreach (var item in Model)
    {
        <div class="card col-3 my-3 p-3 mx-3">
            <div class="img-thumbnail">
                <img class="img-thumbnail" 
                    src="~/uploads/@item.Picture" alt="@item.Title">
            </div>
            <a asp-action="Details" asp-route-id="@item.Id">@item.Title</a>
            <div class="d-flex justify-content-around my-3">
                <a class="btn-warning btn" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn-info btn" asp-action="Details" asp-route-id="@item.Id"> Details </a>
                <a class="btn-danger btn" asp-action="Delete" asp-route-id="@item.Id"> Delete </a>
            </div>
        </div>
        
    }
</div>
